/******************************************* Common between pages **************************************/
/*Top Menu */
#logo
{
    width: 9.5%;
    float:left;
}
.menu
{ 
    padding: 2.1% 3% 1.9% 3%;
    font-size:100%;
    text-align:right;
}
nav a 
{  
    opacity:0.3;
    color: #ffffff;
    text-decoration: none;
    font-size: 90%;
    padding-left: 0.5%;
    padding-right: 0.9%;
    font-family: "Arial Narrow", "Myriad Pro";
}
nav a:hover
{
    opacity: 1;
}
nav .active
{
    opacity: 1;
}
/* End of style top menu*/

/* Start of Slide */
.image-area 
{
    background-image:url('../Images/16-Header.jpg');
    background-size: cover;
    width:100%;
    
}

.image-text {
    text-align:left;
    padding: 15% 3% 4% 3%;
    color: white;
}
.image-text span
{
    font-weight: bold;
    font-size:400%;
}
.image-text p
{
    color:#808080;
    font-size:88%;
}
hr
{
    background-color: #808080;
    height: 1px;
    border: none;
}

/*End of Slide*/

/* Style Footer*/

.Last
{
    padding: 0.2% 3% 0.2% 3%;
    font-family: "Lucida Sans Unicode";
    color: #808080;
    font-size: 71%;
}
.right
{
    float:right;
}
.right a 
{
    text-decoration:none;
    color:red;
}
.right a:hover 
{
    border:2px solid blue;
    border-radius:20%;
}
/* Start Contact Us --- Footer */
.image-area-f
{
    background-image: url('../Images/18-footer.jpg');
    width: 100%;
    background-size: cover;
}

.boxes
{
    display:flex;
    flex-wrap:nowrap;
}
.boxes a
{
    text-decoration: none;
    color:white;
}
.boxes a:hover
{
    opacity:0.9;
    color:red;
    transition: 0.4s;
}
.one
{
    padding:2% 3% 1% 3%;
}
.one h4
{
    padding-bottom: 7%;
}
.two
{
    padding:2% 20% 1% 5%;
}
.two h4
{
    padding-bottom: 7%;
}

.three
{
    padding:2% 3% 1% 3%;
}

.three span
{
    color:#ffffff;
    font-weight:bold;
}
.three input
{
    width:170%;
    height:25px;
    border-radius: 10px;
    font-size:100%;
    background-color: RGBA(1,1,1,0.4);
    color:white;
    text-align: center;
    border:none;
}
.three #message 
{
    font-size:100%;
    text-align: left;
    border:none;
    color:white;
    border-radius: 10px;
    background: #D6D6D6;
    width: 170%;
    background-color: RGBA(1,1,1,0.4);
}
.three #submit
{
    height: 50px;
    width:65%;
    background:blue;
}
.three #submit:hover
{
    border-radius: 0px;
    transition: 0.8s;
    background: red;
    color:black; 
}
.three span
{
    font-size:190%;
}

/* End Contact Us --- Footer */

/* End Footer*/

/********************************************************  Pricing Page   ***********************************************/
#pricing .boxess
{
    display:flex;
    text-align: justify;
    flex-wrap: wrap;
    font-size:100%;
    padding: 5% 3% 5% 3%;
}
#pricing .box1
{
    margin-right: 10%;   
}
#pricing .box2
{
    margin-right: 20%;
    margin-left: 10%;
}
#pricing .boxess span
{
    font-size:140%;
    font-weight:bold;
}
#pricing .boxess .links
{
    font-size:110%;
    font-style:italic;
}
#pricing .boxess strong
{
    font-size:190%;
    font-style:bold;
    color:blue;
    margin-left: 5%;
}
#pricing .boxess .choose a
{
    background-color: gray;
    padding:5% 8% 5% 8%;
    margin-left:9%;
    opacity:0.5;
    border-radius: 20%;
    text-decoration: none;
}
#pricing .boxess .choose a:hover
{   
    background-color:skyblue;
    color:red;
    font-weight:bold;
    transition: 0.3s;
    border-radius: 0%;
    opacity:1;
}
#pricing .customer
{   
    padding: 2% 3% 5% 3%;
    font-size:120%;
}
#pricing .customer .dash
{
    color:aqua;
    font-size:200%;
}
#pricing .customer span
{
    font-weight:bold;
    font-size:130%;
}

#pricing .customer p
{
    padding:1% 3% 1% 3%;
    font-style:oblique;
}

#pricing .images
{
    display: flex;
    flex-wrap: wrap;
}
#pricing .images
{
    display:flex;
    padding:2% 3% 5% 3%;   
}
#pricing .images img
{
    padding-right: 2.3%;
    padding-left:0.3%;
}

#pricing .iconify
{
    font-size: 170%;
    margin:0% 30% 3% 30%;
}

/********************************************************   FAQ Page     ***********************************************/
#FAQ .boxess
{
    display:flex;
    font-size:100%;
    padding: 5% 3% 5% 3%;
}
#FAQ .box2
{
    margin-right: 20%;
    margin-left: 20%;
}
#FAQ .boxess span
{
    font-size:140%;
    font-weight:bold;
}
#FAQ .boxess .links
{
    font-size:110%;
    font-style:italic;
}
#FAQ .boxess strong
{
    font-size:190%;
    font-style:bold;
    color:blue;
    margin-left: 5%;
}
#FAQ .boxess .choose a
{
    background-color: gray;
    padding:5% 8% 5% 8%;
    margin-left:9%;
    opacity:0.5;
    border-radius: 20%;
    text-decoration: none;
}
#FAQ .boxess .choose a:hover
{   
    background-color:skyblue;
    color:red;
    font-weight:bold;
    transition: 0.3s;
    border-radius: 0%;
    opacity:1;
}
#FAQ .iconify
{
    font-size: 170%;
    margin:0% 30% 3% 30%;
}
#FAQ .box
{
    display:flex;
    flex-wrap: wrap;
    padding:2% 6% 2% 6%;
}
#FAQ .same
{
    padding:2% 3% 2% 3%;
}
#FAQ .same p 
{
    font-size:103%;
    font-style:italic;
}
#FAQ .same strong
{
    font-weight:bold;
    font-size:106%;
    font-family:sans-serif , serif;
}
#FAQ .general
{
    padding:2% 3% 5% 3%;
}
#FAQ .general strong
{
    font-weight:bold;
    font-size:170%;
}
#FAQ .general p
{
    font-size:100%;
}
#FAQ .general img
{
    float:right;
    width:30%;
}
/********************************************************  Contact Page  ***********************************************/
#Contact .iconify
{
    color:blue;
    opacity:0.6;
    padding-right:1%;
}
#Contact .boxes
{
    padding:7% 3% 7% 3%;
    display: flex;
}
#Contact .boxes .phone
{
    padding-left:3%;
}
#Contact .boxes .email
{
    padding-left:3%;
}
#Contact .boxes strong
{
    font-size:150%;
}
#Contact .boxes p
{
    font-size:90%;    
    color:#808080;
}
#Contact .boxes .details
{
    opacity:0.8;
    text-transform:uppercase;
    font-size:85%;
    padding-left:5%;
    color:#808080;
}
#Contact .boxes .box2
{
    padding-right:3%;
    padding-left:3%;   
}
#Contact .client
{
    display:flex;
    margin-bottom:-5px;
    margin-top: -5px;
}
#Contact .client strong
{
    font-weight:bold;
    font-size:170%;
    font-style:oblique;
}
#Contact .client img
{
    width:600px;
    height:370px;
}
#Contact .client article
{
    padding:4% 5% 0% 10%;   
}

#Contact .client p
{
    opacity:0.8;
    color:#808080;
    text-align: justify;
}
/********************************************************  Product Page  ***********************************************/

#product .images
{
    display: flex;
    flex-wrap: wrap;
}
#product .images
{
    display:flex;
    padding:2% 3% 5% 3%;   
}
#product .images img
{
    padding-right: 2.3%;
    padding-left:0.3%;
}


#product .client
{
    display:flex;
    margin-bottom:-5px;
    margin-top: -5px;
}
#product .client strong
{
    font-weight:bold;
    font-size:170%;
    font-style:oblique;
}
#product .client img
{
    width:600px;
    height:370px;
}
#product .client article
{
    padding:4% 5% 0% 10%;   
}

#product .client p
{
    opacity:0.8;
    color:#808080;
    text-align: justify;
}

#product .details
{
    opacity:0.8;
    text-transform:uppercase;
    font-size:80%;
    padding-left:6%;
    padding-top: 2%;
    color:#808080;
}
#product figure p
{
    color:#808080;
}
#product figcaption
{   
    font-weight:bold;
    font-size:130%;
}
#product figure a
{
    text-decoration: none;
    background-color:lightgray;
    opacity:0.6;
    padding:3% 3% 3% 3%;
}
#product figure a:hover
{
    opacity:1;
    border-radius:200%;
    transition: 0.6s;
    background-color:lightgray;
    color:black;
}
#product figure .dash
{
    color:red;
    font-size:170%;
}
#product .content
{
    display: flex; 
    flex-wrap: wrap;
}
#product figure 
{
    padding-right:1%;
}
#product figure img
{
    width:300px;   
    height:250px;

}
#product figure .caption
{
    display:flex;   
}
#product .ex
{
    padding:3% 3% 3% 3%;
}

#product .ex h2
{
    font-size: 130%;
}
#product .ex p
{
    color:#808080;   
}
/********************************************************   Home Page    ***********************************************/

#Home .f-one
{
    display:flex;
    padding:4% 3% 2% 3%;
}
#Home .f-second
{
    display:flex;
    padding:1% 3% 3% 3%;
}
#Home .f-one h3
{
    font-weight:bold;
    font-size:100%;    
}
#Home .same .iconify
{
    color:#808080;
    font-size:200%;
    margin-bottom: -2%;
}
#Home .same p 
{
    font-size:100%;
    color:#808080;
    font-style:italic;
}
#Home .same h3
{
    font-weight:bold;
    font-size:110%;
    font-family:sans-serif , serif;
}
#Home #M
{
    padding:0% 10% 0% 10%;
}
#Home .client
{
    display:flex;
        padding:2% 3% 2% 3%;

}
#Home .client strong
{
    font-weight:bold;
    font-size:170%;
    font-style:oblique;
}
#Home .client img
{
    width:600px;
    height:370px;
}
#Home .client article
{
    text-align: justify;
    padding:3% 3% 3% 0%;
}

#Home .client p
{
    opacity:0.8;
    color:#808080;
    text-align: justify;
}
#Home .boxess
{
    display:flex;
    text-align: justify;
    flex-wrap: wrap;
    font-size:100%;
    padding: 5% 3% 5% 3%;
}
#Home .box1
{
    margin-right: 10%;   
}
#Home .box2
{
    margin-right: 20%;
    margin-left: 10%;
}
#Home .boxess span
{
    font-size:140%;
    font-weight:bold;
}
#Home .boxess .links
{
    font-size:110%;
    font-style:italic;
}
#Home .boxess strong
{
    font-size:190%;
    font-style:bold;
    color:blue;
    margin-left: 5%;
}
#Home .boxess .choose a
{
    background-color: gray;
    padding:5% 8% 5% 8%;
    margin-left:9%;
    opacity:0.5;
    border-radius: 20%;
    text-decoration: none;
}
#Home .boxess .choose a:hover
{   
    background-color:skyblue;
    color:red;
    font-weight:bold;
    transition: 0.3s;
    border-radius: 0%;
    opacity:1;
}


#Home .boxess .iconify
{
    font-size: 170%;
    margin:0% 30% 3% 30%;
}


#Home .images
{
    display:flex;
    padding:2% 3% 5% 3%;   
}
#Home .images img
{
    padding-right: 2.3%;
    padding-left:0.3%;
}

#Home .customer
{   
    padding: 2% 3% 5% 3%;
    font-size:120%;
}
#Home .customer .dash
{
    color:aqua;
    font-size:200%;
}
#Home .customer span
{
    font-weight:bold;
    font-size:130%;
}
#Home .customer p
{
    padding:1% 3% 1% 3%;
    font-style:oblique;
}
#Home figure p
{
    color:#808080;
}
#Home figcaption
{   
    font-weight:bold;
    font-size:130%;
}
#Home figure a
{
    text-decoration: none;
    background-color:lightgray;
    opacity:0.6;
    padding:3% 3% 3% 3%;
}
#Home figure a:hover
{
    opacity:1;
    border-radius:200%;
    transition: 0.6s;
    background-color:lightgray;
    color:black;
}
#Home figure .dash
{
    color:red;
    font-size:170%;
}
#Home .content
{
    display: flex; 
    flex-wrap: wrap;
}
#Home figure 
{
    padding-right:1%;
}
#Home figure img
{
    width:300px;   
    height:250px;
}
#Home figure .caption
{
    display:flex;   
}
#Home .ex
{
    padding:3% 3% 3% 3%;
}

#Home .ex h2
{
    font-size: 130%;
}
#Home .ex p
{
    color:#808080;   
}

#Home .details
{
    opacity:0.8;
    text-transform:uppercase;
    font-size:100%;
    padding-left:9%;
    padding-top: 1%;
    color:#808080;
}

#Home .sc-images img:hover
{
    border-radius: 15%;
    transition: 0.3s;
    border:2px #808080 dashed;
}
#Home .sc-images
{
    padding-left: 1.5%;
    padding-right: 1%;
}

#Home .Showcase
{    
    padding:2% 3% 2% 3%;

}
#Home .Showcase strong
{
    font-weight:bold;
    font-size:170%;
    font-style:oblique;
}

#Home .Showcase p
{
    opacity:0.8;
    color:#808080;
    text-align: justify;
}
/********************************************************  About Page    ***********************************************/

#About .intro
{
    display:flex;
    padding:3% 3% 5% 3%;
}

#About .intro h3
{
    font-weight:bold;
    font-size:100%;    
}
#About .intro #M
{
    padding:0% 10% 0% 10%;
}
#About .intro .same p 
{
    font-size:100%;
    color:#808080;
    font-style:italic;
}
#About .intro .same h3
{
    font-weight:bold;
    font-size:110%;
    font-family:sans-serif , serif;
}

#About .intro .same a
{
    font-size:90%;
    text-transform:uppercase;
    text-decoration: none;
    background-color:lightgray;
    opacity:0.6;
    padding:3% 3% 3% 3%;
    color:red;
}
#About .intro .same a:hover
{
    opacity:1;
    border-radius:200%;
    transition: 0.6s;
    background-color:lightgray;
    color:black;
}
#About .intro .same strong
{
    color:blue;
    font-size:170%;
}
#About .content
{
    padding:2% 3% 5% 3%;
    display:flex;   
}
#About .A
{
    padding:4% 3% 5% 3%;
    font-weight:bold;
    font-size:170%;
}
#About .content p
{
    font-size:90%;
    margin-right:-7%;
    padding-bottom: 6%;
    color:#808080;
}
#About .content img
{
    float:right;
    width:70%;
}
#About .f-one
{
    display:flex;
    padding:3% 3% 2% 3%;
}
#About .f-second
{
    display:flex;
    padding:1% 3% 3% 3%;
}
#About .f-one h3
{
    font-weight:bold;
    font-size:100%;    
}

#About .same p 
{
    font-size:100%;
    color:#808080;
    font-style:italic;
}
#About .same h3
{
    font-weight:bold;
    font-size:110%;
    font-family:sans-serif , serif;
}
#About #M
{
    padding:0% 10% 0% 10%;
}
#About .same .iconify
{
    color:#808080;
    font-size:200%;
    margin-bottom: -2%;
}




#About .notes
{   
    padding: 2% 3% 5% 3%;
    font-size:120%;
}
#About .notes .dash
{
    color:aqua;
    font-size:200%;
}
#About .notes span
{
    font-weight:bold;
    font-size:130%;
}
#About .notes p
{

    padding:0% 30% 0% 3%;
    font-size:90%;
    color:#808080;
    font-style:italic;
}
#About .meet
{
    padding:3% 3% 3% 3%;
}
#About .meet h2
{
    font-size: 130%;
}
#About .meet p
{
    color:#808080;   
}
#About figure p
{
    color:#808080;
}
#About .caption figcaption
{   
    font-weight:bold;
    font-size:130%;
}
#About figure a
{
    text-decoration: none;
    background-color:lightgray;
    opacity:0.6;
    padding:3% 3% 3% 3%;
}
#About figure a:hover
{
    opacity:1;
    border-radius:200%;
    transition: 0.6s;
    background-color:lightgray;
    color:black;
}
#About figure .dash
{
    color:red;
    font-size:170%;
}
#About .Images
{
    display: flex; 
    flex-wrap: wrap;
    padding-bottom: 5%;
}
#About figure 
{
    padding-right:1%;
}
#About figure img
{
    width:300px;   
    height:250px;
    border-radius:10%;
}
#About figure .caption
{
    display:flex;   
}
#About .details
{
    opacity:0.8;
    padding-top:2%;
    text-transform:uppercase;
    font-size:90%;
    padding-left:8%;
    color:#808080;
    text-align: right;
}
